#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
  
    display: flex;
    flex-direction: row; /* alinhado ao lado */
    align-items: flex-start; /* alinhado ao topo */
}

@media (max-width: 1000px){
    #app {
        flex-direction: column;
    }

    #app main {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
    }

    #app  aside {
        width: 100%;
    }
}